.background {
  /* background-image: url("https://images.unsplash.com/photo-1699134115052-bd7899efddcc"); */
  /* background-color:gainsboro; */
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundNoiseFilter {
  background-image: url("/background.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
